.carousel-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .shape {
        position: absolute;
        top: 50px;
        z-index: -1;  // Keep this for the background image
    }
}

.carousel-card {
    position: relative;  // Add this line
    width: 300px;
    height: 400px;
    background-color: #FFFFFF;
    border: 1px solid #F4F6F5;
    border-radius: 20px;
    z-index: 0;  // Set a z-index for the carousel-card

    :hover {
        cursor: pointer;
    }
}

.carousel-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    img {
        width: 300px;
        height: 250px;
        border-radius: 20px 20px 20px 85px;
        object-fit: cover;
    }
}

.carousel-text {
    span {
        color: black !important;
        font-weight: bold !important;
    }
    p {
        display: block !important;
        margin-block-start: 0px !important;
        margin-block-end: 0px !important;
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
    }
    h3 {
        color: #F40000;
    }
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.brand-image {
    position: absolute;
    top: 200px;
    width: 55px;
    height: 55px;
}