
.chipSliderMainContainer {
    position: relative;
    width: 100%;
}

.chipSliderContainer {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    user-select: none;
    margin-bottom: 2em;
    scroll-behavior: smooth;
}

.chipSliderContainer.dragging {
    scroll-behavior: unset;
    cursor: grab;
}

.chipSliderContainer::-webkit-scrollbar {
    display: none;
}

.chipSliderContainer span {
    display: inline-block;
    margin: 0 0.4em;
    padding: 0px 4px;
    border-radius: 10px;
}

.content {
    display: inline-block;
    margin: 0 0.4em;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    .img-icon {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 30%;
        vertical-align: middle;
        margin-right: 5px; 
    }

    span {
        display: inline-block;
        vertical-align: middle; 
    }
}